---
branches:
- master
# by default release workflow reacts on push not only to master. 
#This is why out of the box sematic release is configured for all these branches
- name: next-spec
  prerelease: true
- name: next-major
  prerelease: true
- name: next-major-spec
  prerelease: true
- name: beta
  prerelease: true
- name: alpha
  prerelease: true
plugins:
- - "@semantic-release/commit-analyzer"
  - preset: conventionalcommits
- - "@semantic-release/release-notes-generator"
  - preset: conventionalcommits
- - "@semantic-release/exec"
  - prepareCmd: sed "s/docker:\/\/asyncapi\/github-action-for-cli:.*/docker:\/\/asyncapi\/github-action-for-cli:${nextRelease.version}'/g" action.yml > action.yml.tmp && mv action.yml.tmp action.yml
- "@semantic-release/github"
